.layout-chat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: calc(100vh - 60px);
}

.chat-list-links {
  width: 300px;
  background-color: #b5b5b5;
  -webkit-transition: width 3s linear;
  transition: width 3s linear;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.chat-list-links::-webkit-scrollbar {
  display: none;
}

.chat-list-links .chat-list-overhead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 10px;
}

.chat-list-links .chat-list-overhead .chat-list-header {
  font-size: 1.5rem;
}

.chat-list-links a {
  color: initial;
  text-decoration: none;
}

.chat-list-links .link-chat {
  width: 300px;
  height: 80px;
  padding: 10px;
  background-color: lightgray;
}

.chat-list-links .link-chat:hover {
  background-color: rgba(211, 211, 211, 0.5);
}

.chat-list-links .link-chat.active {
  background-color: #4fe9e7;
}

.chat-list-links .link-chat.active:hover {
  background-color: rgba(79, 233, 231, 0.9);
}

.chat-list-links .link-chat-title {
  width: 100%;
  font-size: 0.9rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-decoration: none;
}

.chat-main-content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100vw;
  background-color: blue;
  overflow: hidden;
}

.chat-main-content .chat-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: green;
  overflow: hidden;
}

.chat-main-content .chat-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  height: 100vh;
}

.chat-overhead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 10px 20px;
  background-color: purple;
}

.chat-overhead .chat-overhead-prof {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.chat-overhead .chat-overhead-profile-img {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  --length:3.7rem;
  width: var(--length);
  height: var(--length);
  margin-right: 1rem;
  border-radius: 50%;
  overflow: hidden;
}

.chat-overhead .chat-overhead-profile-img img {
  width: inherit;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.chat-overhead .chat-overhead-profile-img .alt-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  background-color: grey;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: capitalize;
}

.chat-overhead .inactive,
.chat-overhead .active {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: green;
  margin-left: 10px;
}

.chat-overhead .inactive {
  background-color: grey;
}

.conv-container {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow: hidden;
}

.conv-container .chat-wrapper {
  position: static;
  height: 100%;
  padding: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  overscroll-behavior: contain;
}

.conv-container .chat-wrapper::-webkit-scrollbar {
  display: none;
}

.conv-container .display-new-notification,
.conv-container .display-date {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: #747782;
  color: white;
  padding: 5px 8px;
  border-radius: 0.5rem;
  text-align: center;
  margin: 10px auto 0;
  z-index: 1;
}

.message-container {
  --length:2.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 2px 0;
}

.message-container.user {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.message-container.user .message-sender {
  margin-right: initial;
  margin-left: auto;
}

.message-container.user .no-prof-img {
  margin: unset;
  margin-right: var(--length);
}

.message-container.user .message-content {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.message-container .alt-pic,
.message-container .profile-pic {
  width: var(--length);
  height: var(--length);
  padding-bottom: 4px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.message-container .alt-pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: grey;
  font-size: 1.5rem;
  text-transform: capitalize;
}

.message-sender {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: white;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.705);
  margin-right: auto;
  padding-bottom: 5px;
  font-size: 0.8rem;
}

.message-content {
  display: inherit;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 70%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0 5px;
}

.message-content.no-prof-img {
  margin: unset;
  margin-left: var(--length);
}

.message-wrapper {
  background-color: grey;
  border-radius: 0.2rem;
  padding: 10px;
  overflow: hidden;
}

.message-wrapper.img {
  padding: 0;
}

.message-wrapper.img.active .img-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.message-wrapper.img .img-modal {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
}

.message-wrapper.img .img-modal .img-modal-close {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 20px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.15);
  cursor: pointer;
}

.message-wrapper.img .img-modal .img-modal-close:hover {
  background-color: rgba(255, 255, 255, 0.19);
}

.message-wrapper.img .img-modal .img-modal-close::after, .message-wrapper.img .img-modal .img-modal-close::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 55%;
  height: 1px;
  background-color: white;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  pointer-events: none;
}

.message-wrapper.img .img-modal .img-modal-close::after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.message-wrapper.img .img-modal .img-modal-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
}

.message-wrapper.img .img-modal img {
  max-width: 100vw;
  max-height: 90vh;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center center;
     object-position: center center;
}

.message-wrapper.img .img-modal a {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: white;
  display: block;
  text-decoration: none;
}

.message-wrapper.img .img-modal a:hover {
  opacity: 0.8;
}

.message-time {
  position: absolute;
  right: 0;
  bottom: 0;
  text-align: right;
}

.message-time .time-value {
  white-space: nowrap;
  color: white;
  font-size: 0.7rem;
}

@-webkit-keyframes loading {
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes loading {
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

.message-img-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  overflow: hidden;
}

.message-img-wrapper.loading {
  width: 300px;
  height: 300px;
}

.message-img-wrapper.loading::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 30px;
  height: 30px;
  border: 5px dashed;
  border-color: white white white transparent;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(0);
          transform: translate(-50%, -50%) rotate(0);
  -webkit-animation: loading 2s linear infinite;
          animation: loading 2s linear infinite;
}

.message-img-wrapper.loading .message-img {
  display: none;
}

.message-img-wrapper .message-img {
  max-width: 300px;
  max-height: 300px;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
}

.message-img-wrapper .message-img:hover {
  -webkit-filter: brightness(1.05);
          filter: brightness(1.05);
  -webkit-transition: -webkit-filter 200ms ease;
  transition: -webkit-filter 200ms ease;
  transition: filter 200ms ease;
  transition: filter 200ms ease, -webkit-filter 200ms ease;
}

.message-img-wrapper .message-time {
  position: absolute;
  right: 3px;
  bottom: 3px;
  --blur-r:15px;
  text-shadow: 5px 0px var(--blur-r) black, -5px 0px var(--blur-r) black, 0px 5px var(--blur-r) black, 0px -5px var(--blur-r) black;
}

.message-img-wrapper .message-time .time-value {
  font-size: 0.85rem;
}

.message-text {
  color: white;
  font-size: 1.2em;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.message-text::after {
  content: " ";
  font-size: 0;
  padding: 0 1.1rem;
  height: 1rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.message-text .hyperlink {
  word-break: break-all;
  color: blue;
}

.chat-input-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 10px 0;
  background-color: transparent;
}

.chat-imgs-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  padding: 5px 0 15px;
  overflow-y: hidden;
  overflow-x: scroll;
}

.chat-img-container {
  width: 50px;
  height: 50px;
  margin: 0 0.2rem;
}

.remove-butt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 17px;
  height: 17px;
  background-color: #383838;
  border-radius: 50%;
  -webkit-transform: translate(20%, -20%);
          transform: translate(20%, -20%);
  cursor: pointer;
  z-index: 2;
}

.remove-butt:hover {
  background-color: #545454;
}

.remove-butt::before, .remove-butt::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 1px;
  background-color: white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.remove-butt::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.progress-bar-container {
  width: inherit;
  height: inherit;
  border-radius: 0.7rem;
  overflow: hidden;
}

.progress-bar-container .chat-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: inherit;
  height: inherit;
  background-color: black;
}

.progress-bar-container .progress-bar {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 4px;
  background-color: lightblue;
  -webkit-transition: width 200ms linear;
  transition: width 200ms linear;
}

@-webkit-keyframes floating {
  to {
    -webkit-transform: scale(1) translateY(15%);
            transform: scale(1) translateY(15%);
  }
}

@keyframes floating {
  to {
    -webkit-transform: scale(1) translateY(15%);
            transform: scale(1) translateY(15%);
  }
}

@-webkit-keyframes fade-in {
  85% {
    opacity: 0.25;
  }
  100% {
    bottom: 130%;
    opacity: 1;
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
  }
}

@keyframes fade-in {
  85% {
    opacity: 0.25;
  }
  100% {
    bottom: 130%;
    opacity: 1;
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
  }
}

.chat-input-files {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 17.5px;
  margin-right: 20px;
  border: none;
  border-radius: 50%;
}

.chat-input-files::before, .chat-input-files::after {
  position: absolute;
  content: "";
  width: 50%;
  height: 1px;
  background-color: green;
}

.chat-input-files::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.chat-input-files .alert {
  display: none;
  position: absolute;
  bottom: 0%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: black;
  opacity: 0;
  padding: 5px 10px;
  color: white;
  border-radius: 1rem;
  -webkit-transform: scale(0) translateY(0);
          transform: scale(0) translateY(0);
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 1000;
}

.chat-input-files .alert.active {
  display: block;
  -webkit-animation: fade-in 250ms ease-in forwards, floating 700ms 300ms ease-in-out infinite alternate;
          animation: fade-in 250ms ease-in forwards, floating 700ms 300ms ease-in-out infinite alternate;
}

.chat-input-container {
  position: relative;
  min-width: 300px;
  width: 70%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  background-color: white;
  padding: 0.5rem 0.3rem;
}

.chat-input-container:focus-within {
  outline: 3px solid red;
}

.chat-input-wrapper {
  padding-left: 0.2rem;
}

.chat-input-wrapper .chat-input {
  max-height: 4rem;
  overflow-y: scroll;
  overflow-x: hidden;
  outline: none;
}

.chat-input-wrapper .chat-input * {
  background: none !important;
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
}

.chat-input-wrapper .chat-input-placeholder {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  opacity: 0.5;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#send-butt {
  height: 35px;
  padding: 0 5px;
  margin-left: 20px;
  border: none;
  opacity: 1;
  -webkit-appearance: none;
  background-color: white;
}

.chat-settings-container {
  width: 0;
  height: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  overflow: hidden;
  -webkit-transition: width 600ms ease;
  transition: width 600ms ease;
}

.chat-settings-container.active {
  width: 330px;
}

.chat-settings-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 330px;
  height: 100%;
  padding: 20px 5px;
  color: white;
  font-size: 1.4rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat-settings-wrapper > .close {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 18px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.chat-settings-wrapper > .close:hover {
  background-color: rgba(255, 255, 255, 0.15);
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
}

.chat-settings-wrapper > .close::before, .chat-settings-wrapper > .close::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 1px;
  background-color: white;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  pointer-events: none;
}

.chat-settings-wrapper > .close::before {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.chat-settings-wrapper .alt-img,
.chat-settings-wrapper .chat-settings-prof-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  --length:12rem;
  width: var(--length);
  height: var(--length);
  border-radius: 50%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  overflow: hidden;
}

.chat-settings-wrapper .alt-img img,
.chat-settings-wrapper .chat-settings-prof-img img {
  width: inherit;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
}

.chat-settings-wrapper .alt-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: grey;
  font-size: 4rem;
  font-weight: bold;
  text-transform: capitalize;
}

.chat-settings-wrapper .change-users-nickname-container {
  --padding:10px;
  width: 100%;
  font-size: 1rem;
}

.chat-settings-wrapper .change-users-nickname-container.active .change-users-nickname-button {
  visibility: hidden;
  z-index: 0;
}

.chat-settings-wrapper .change-users-nickname-container.active form {
  visibility: initial;
}

.chat-settings-wrapper .change-users-nickname-container .change-users-nickname-button {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: var(--padding);
  background-color: transparent;
  border: none;
  color: white;
  font-size: inherit;
  text-align: left;
  z-index: 1;
}

.chat-settings-wrapper .change-users-nickname-container .change-users-nickname-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.chat-settings-wrapper .change-users-nickname-container form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto auto;
      grid-template-columns: 1fr auto auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 5px;
  width: 100%;
  padding: 5px;
  font-size: inherit;
  visibility: hidden;
}

.chat-settings-wrapper .change-users-nickname-container form input {
  width: 100%;
  padding: calc(var(--padding) / 2);
  font-size: inherit;
  border: none;
}

.chat-settings-wrapper .change-users-nickname-container form .accept,
.chat-settings-wrapper .change-users-nickname-container form .decline {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 15px;
  background-color: red;
  border: none;
  border-radius: 3px;
}

.chat-settings-wrapper .change-users-nickname-container form .accept {
  background-color: green;
}

.chat-settings-wrapper .media-button {
  width: 100%;
  padding: 10px;
  text-align: left;
  background-color: transparent;
  color: inherit;
  border: none;
  font-size: 1rem;
}

.chat-settings-wrapper .media-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.chat-name {
  padding: 15px;
}

.customize-chat {
  width: 100%;
  padding: 10px;
  color: inherit;
}

.customize-chat:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.customize-chat[open] {
  background-color: rgba(255, 255, 255, 0.1);
}

.customize-chat summary {
  font-size: 1.1rem;
  cursor: pointer;
}

.media-container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 0;
  left: 100%;
  right: 0;
  bottom: 0;
  width: 330px;
  padding: 5px;
  background-color: blue;
  -webkit-transition: left 500ms ease-in-out;
  transition: left 500ms ease-in-out;
  pointer-events: none;
  overflow: hidden;
  z-index: 3;
}

.media-container.active {
  pointer-events: initial;
  left: 0;
}

.media-container .media-overhead {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  padding: 5px 0;
}

.media-container .media-overhead h3 {
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.media-container .media-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  gap: 4px;
  width: 100%;
  height: 100%;
  background-color: red;
  overflow-y: scroll;
  overflow-x: hidden;
}

.media-container .media-wrapper img {
  width: calc(50% - 2px);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}

.back-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: black;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 15px;
  border: none;
}

.back-button::after, .back-button::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: blue;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.back-button::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#jump-down-button-container {
  --length:2rem;
  position: -webkit-sticky;
  position: sticky;
  top: calc(100% - var(--length));
  height: 0;
  z-index: 2;
}

.jump-down-button {
  position: absolute;
  top: 10px;
  left: 50%;
  width: var(--length);
  height: var(--length);
  background-color: white;
  opacity: 0;
  border-radius: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  z-index: 100;
  -webkit-transition: opacity 200ms ease, -webkit-transform 300ms ease-in-out;
  transition: opacity 200ms ease, -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, opacity 200ms ease;
  transition: transform 300ms ease-in-out, opacity 200ms ease, -webkit-transform 300ms ease-in-out;
  cursor: pointer;
  pointer-events: none;
}

.jump-down-button img {
  position: absolute;
  width: 60%;
  top: calc(50% + 2px);
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -o-object-fit: contain;
     object-fit: contain;
  z-index: 1;
}

.jump-down-button.active {
  pointer-events: unset;
  opacity: 1;
  -webkit-transform: translate(-50%, -20px);
          transform: translate(-50%, -20px);
}

.dot-container {
  --length:5px;
  padding: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.dot-container .dot {
  width: var(--length);
  height: var(--length);
  background-color: white;
  border-radius: 50%;
  pointer-events: none;
}

.dot-container .dot:nth-child(2) {
  margin: 2px 0;
}

.dot-container.active .message-options {
  display: block;
}

.conv-container .dot-container {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0 5px;
}

.message-options {
  display: none;
  position: absolute;
  left: 50%;
  bottom: 100%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: #313131;
  color: white;
  border-radius: 0.4rem;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  z-index: 1;
}

.copy-message,
.delete-container {
  margin: 4px;
  padding: 5px 10px;
  border-radius: 0.2rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.copy-message:hover,
.delete-container:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.copy-message:active,
.delete-container:active {
  opacity: 0.5;
}

.copy-message {
  text-align: center;
}

.delete-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  color: red;
  -webkit-transition: backgroundColor 500ms ease-in-out;
  transition: backgroundColor 500ms ease-in-out;
}

.delete-icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20px;
  height: 20px;
  border: 2px solid currentColor;
  border-radius: 5px;
  background-color: #313131;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-right: 5px;
  cursor: pointer;
}

.delete-icon::before, .delete-icon::after {
  content: "";
  position: absolute;
  width: 70%;
  height: 2px;
  border-radius: 1rem;
  background-color: currentColor;
  pointer-events: none;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.delete-icon::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
/*# sourceMappingURL=Chat.css.map */