.layout-chat{
    --lc-width:300px;
    display: flex;
    width:100vw;
    height:calc(100vh - 60px);

    .chat-list-links{
        width:var(--lc-width);
        background-color:rgb(181, 181, 181);
        transition: width 3s linear;
        overflow-y:scroll ;
        overflow-x:hidden ;
        flex-shrink: 0;
        &::-webkit-scrollbar{
            display:none;
        }
        .chat-list-overhead{
            display: flex;
            justify-content: space-between;
            align-items:center;
            padding:12px 10px;
            .chat-list-header{
                font-size:1.5rem;
            }
        }
        a{
            color:initial;
            text-decoration: none;
        }
        .link-chat{
            width:var(--lc-width);
            height:80px;
            padding:10px;
            background-color: rgba(211, 211, 211,1);
            &:hover{
                background-color: rgba(211, 211, 211,0.5);
            }
            .link-chat-title{
                width:100%;
                font-size:0.9rem;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                text-decoration: none;
            }
        }
    }
    
    .chat-main-content{
        flex-grow: 1;
        width:100vw;
        // max-width: 60%;
        background-color: blue;
        overflow: hidden;
        .chat-container{
            display: flex;
            flex-direction: column;
            width:100%;
            height:100%;
            background-color:green;
            overflow: hidden;
            .chat-bg{
                display:"flex";
                flex-direction:"column";
                background-size:cover;
                background-repeat:no-repeat;
                background-position: center;
                overflow:"hidden";
            }
            .chat-overhead{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width:100%;
                padding:10px 20px;
                background-color: purple;
                .chat-overhead-prof{
                    display: flex;
                    align-items: center;
                    flex-wrap: nowrap;
                    width:max-content;
                    .chat-overhead-profile-img{
                        display: inline;
                        --length:3.7rem;
                        width:var(--length);
                        height:var(--length);
                        margin-right:1rem;
                        border-radius:50%;
                        object-fit: cover;
                    }
                }
                .inactive,
                .active{
                    width:20px;
                    height:20px;
                    border-radius: 50%;
                    background-color:green;
                }
                .inactive{
                    background-color:grey;
                }

            }
            .conv-container{
                height:100%;
                overflow:hidden;
                .chat-wrapper{
                    height:100%;
                    padding:20px;
                    overflow-y:scroll;
                    overflow-x: hidden;
                    &::-webkit-scrollbar{
                        display: none;
                    }
                    .display-date{
                        width:max-content;
                        background-color: red;
                        padding:5px 8px;
                        border-radius:0.5rem;
                        margin:auto;
                        z-index: 1;
                    }
                    .message-container{
                        display:flex;
                        flex-direction: row-reverse;
                        justify-content:flex-end;
                        align-items:flex-end;
                        padding:5px 0;
                        .message-sender{
                            width:max-content;
                            color:white;
                            text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.705);
                            margin-right: auto;
                            padding-bottom:5px;
                            font-size:0.8rem;
                        }
                        
                        .message-wrapper{
                            max-width: 70%;
                            width:max-content;
                            padding:10px;
                            padding-top:0;
                            
                            .message-text{
                                background-color:grey;
                                padding:10px;
                                color:white;
                                font-size:1.2rem;
                                border-radius:0.2rem;
    
                                overflow-wrap:break-word;
                                span{
                                    float:right;
                                    padding-left:5px;
                                    sub{
                                        font-size:0.7rem;
                                    }
                                }
                            }
                        }
    
                        &.user{
                            flex-direction: row;
                            .message-sender{
                                margin-right:initial;
                                margin-left:auto;
                            }
                        }
                        .alt-pic,
                        .profile-pic{
                            --length:2.6em;
                            width:var(--length);
                            height:var(--length);
                            border-radius:50%;
                            object-fit:cover;
                        }
                        .alt-pic{
                            display:flex;
                            align-items:center;
                            justify-content:center;
                            background-color:grey;
                            font-size:1.5rem;
                            text-transform: capitalize;
                        }
                        
                    }
                }
            }
            
            .chat-input-section{
                display: flex;
                justify-content: center;
                padding:20px 0;
                background-color:transparent;

                
                .chat-input-container{
                    position:relative;
                    min-width:300px;
                    width:70%;
                    height:min-content;
                    background-color:white;
                    padding:0.5rem 0.3rem;
                    .chat-text-message{
                        max-height:4rem;
                        overflow-y: scroll;
                        overflow-x:hidden;
                        outline:none;
                    }
                    .chat-input-placeholder{
                        position:absolute;
                        top:50%;
                        transform:translate(0, -50%);
                        opacity:0.5;
                        pointer-events: none;
                        user-select:none;
                    }
                }
                #send-butt{
                    height:34px;
                    padding: 0 5px;
                    margin-left:20px;
                    border:none;
                    opacity: 1;
                    -webkit-appearance: none;
                    background-color: white;
                }
            }
            .text{
                font-family: inherit;
                font-size: 1rem;
                margin: 0 auto;
                width:70%;
                white-space: pre-wrap;
                word-break:break-word;
            }

        }
    }
    .chat-settings-container{
        --width:330px;
        width:0;
        flex-shrink: 0;
        overflow: hidden;
        transition: width 600ms ease;
        &.active{
            width:var(--width);
        }
        .chat-settings-wrapper{
            display: flex;
            flex-direction: column;
            align-items: center;
            width:var(--width);
            padding:20px 5px;
            font-size:1.4rem;
            .alt-img,
            .chat-settings-prof-img{
                --length:12rem;
                width:var(--length);
                height:var(--length);
                border-radius:50%;
                object-fit: cover;
            }
            .alt-img{
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: grey;
                font-size:4rem;
                font-weight: bold;
                text-transform: capitalize;
            }
            .chat-name{
                padding:15px;
            }
            .customize-chat{
                width:100%;
                background-color:red;
                padding:10px;
                summary{
                    font-size:1.1rem;
                }
            }
        }
        
    }
    .jump-down-button{
        --length:2rem;
        position:absolute;
        top:100%;
        left:50%;
        width:var(--length);
        height:var(--length);
        background-color:white;
        border-radius:50%;
        transform:translate(-50%,0%);
        z-index: 100;
        transition: transform 200ms ease-in-out; 
        cursor: pointer;
        &::before{
            content:"\2B07";
            position:absolute;
            top: calc(50% + 2px);
            left:50%;
            transform:translate(-50%,-50%);
            z-index: 1;
        }
        &.active{
            transform:translate(-50%,calc((var(--length) + 10px) * -1))
        }
    }
    .dot-container{
        --length:5px;
        padding:5px;
        cursor: pointer;
        .dot{
            width:var(--length);
            height:var(--length);
            background-color:white;
            border-radius:50%;
            &:nth-child(2){
                margin: 2px 0;
            }
        }
    }
}