@import "../../utility/variables";

.App-title{
    position: absolute;
    top:0;
    left:0;
    padding:10px;
    color:white;
    font-size:2rem;
    font-weight:300;
    z-index:1;
}

.signup-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width:100vw;
    height:100%;
    background-color:$bg-landing;
}

.errors{
    width:200px;
    height:400px;
    background-color: red;
    transition: width 1s linear;
}

.name-field-container{
    display:flex;
    gap:5px;
}

.auth-container{
    @import '../../utility/authForm';
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width:95vw;
    max-width:500px;
    padding:20px;
    border-radius:1rem;
    background-color: $bg-signup;
    h2{
        width: 100%;
        margin-bottom: 10px;
        font-size:$fs-header;
    }
    hr{
        width: 90%;
        height: 1px;
        background-color: $bg-landing;
        border: none;
        border-radius: 1rem;
        margin: 20px 0;
    }
}


.auth-form{
    display: flex;
    flex-direction: column;
    gap:$gap-form;
    width: 100%;
    
    #signup-pass-error{
        display: block;
    }
    .auth-error-container{
        padding: 0.6rem;
        margin: 0.5rem 0;
        background-color:rgb(228, 8, 8);
        border-radius:0.5rem;
        color:white;
        font-size:12px;
        li{
            list-style: none;
            &::before{
                content:"• ";
            }
        }
    }
}

.password-field-container{
    display: flex;
    align-items: center;
    background-color: $background-input;
    .auth-field-container{
        background-color: unset;
    }
    span{
        display:flex;
        align-items:center;
        height: 100%;
        margin: 0 0.6rem;
        .concealing-eye{
            width:0.8rem;
            height:0.8rem;
            background-color:transparent;
            border: 1px solid black; 
            border-radius:50%;
            &::before{
                content:"";
                position: absolute;
                top:50%;
                left:50%;
                height:1.1rem;
                width:1px;
                background-color:black;
                transform: translate(-50%,-50%) rotate(45deg);
            }
        }
        .concealing-eye.active{
            &::before{
                opacity: 0;
            }
        }
    }
}