// sign-in/login
$fs-input:1.1rem;
$padding-input:0.5rem;
$color-input:#487BE9;
$background-input:#ffffff43;
$background-button:#747782;
$gap-form:5px;
$bg-landing:#444655;
$bg-signup:#A8AABC;
$fs-header:1.9rem;

// navbar
$bg-navbar:red;
$fs-navbar:1.1rem;

// chat
$bg-chat:red;
$chat-setting-width:330px;
$padding-s:0.2rem;
$link-chat-width:300px;